@inherits LayoutComponentBase

<div class="app-layout">
    <header>
        <NavMenu /> <!-- هون بتكون الـ NavMenu -->
    </header>

    <main class="main-content">
        @Body
    </main>

    <footer>
        <Footer />
    </footer>
</div>

<link href="css/MainLayout.css" rel="stylesheet" />
<link href="css/Home.css" rel="stylesheet" />
<link href="css/Search.css" rel="stylesheet" />
<link href="css/Report.css" rel="stylesheet" />
<link href="css/ItemDetails.css" rel="stylesheet" />
<link href="css/Profile.css" rel="stylesheet" />
<link href="css/Card.css" rel="stylesheet" />